---
import Features from "../features/features.astro";
import Info from "../info/info.astro";
import Reviews from "../reviews/reviews.astro";
import Contact from "../contact/contact.astro";
import "./main.scss";
---

<main>
  <Features />
  <Info />
  <Reviews />
  <Contact />
</main>
