.logo {
  margin: 0 auto;
  margin-left: 0;

  max-width: 8rem;

  & img {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  }

  @media only screen and (min-width: 325px) {
    max-width: 12rem;
  }

  @media only screen and (min-width: 478px) {
    width: 16rem;
  }
}
