/* Link hover underline effect */
a {
  position: relative;
  display: inline-block;

  /* For Desktop (fine pointer) */
  @media (pointer: fine) {
    &:hover {
      cursor: pointer;
    }

    &:hover::before {
      width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -0.25rem;
      left: 0;
      width: 0;
      height: 0.5px;
      background-color: var(--white);
      transition: width 0.2s ease-out;
    }
  }

  /* For mobiles and tablets (coarse pointer) */
  @media (pointer: coarse) {
    transition: transform 0.1s ease-out;

    &:active {
      transform: scale(0.8);
      color: darken(#fff, 20%);
    }
  }
}

/* Button hover scaling effect */
button {
  @media (pointer: fine) {
    &:hover {
      background-color: var(--white);
      color: var(--accent-blue);
      cursor: pointer;
      transform: scale(1.05);
    }

    &:active {
      cursor: pointer;
      transform: scale(1);
    }
  }

  @media (pointer: coarse) {
    &:active {
      background-color: var(--white);
      color: var(--accent-blue);
      transform: scale(0.9);
    }
  }
}
