---
import "./contact.scss";
---

<section class="contact my-0 mx-auto py-16 px-8">
  <div class="contact__content">
    <h3>Get early access today</h3>
    <p>
      It only takes a minute to sign up and our free starter tier is extremely
      generous. If you have any questions, our support team would be happy to
      help you.
    </p>
  </div>
  <form class="enter-email">
    <label for="email">Email</label>
    <input id="email" class="p-6" placeholder="email@example.com" />
    <button type="button" class="button--get-started p-6"
      >Get Started For Free</button
    >
  </form>
</section>
