---
import "./contact.scss";
---

<section class="contact">
  <div class="contact__content">
    <h3>Get early access today</h3>
    <p>
      It only takes a minute to sign up and our free starter tier is extremely
      generous. If you have any questions, our support team would be happy to
      help you.
    </p>
  </div>
  <form class="enter-email">
    <label for="email">Email</label>
    <input id="email" placeholder="email@example.com" />
    <button class="button--get-started">Get Started For Free</button>
  </form>
</section>
