section.contact {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;

  margin: 0 auto;
  padding: 4rem 2rem;
  background-color: hsl(217, 28%, 15%);
  box-shadow: var(--primary-dark-blue-3) 0px 20px 40px;
  border-radius: 10px;
  width: 80%;

  position: absolute;
  bottom: -14rem;
  left: 50%;
  transform: translate(-50%, 0);

  div,
  form {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
  }

  &__.content {
    width: 100%;
  }

  form {
    width: 80%;

    @media only screen and (min-width: 768px) {
      flex-flow: row nowrap;
    }
  }

  h3 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }

  label {
    visibility: hidden;
    position: absolute;
  }

  input {
    padding: 1.6rem;
    border-radius: 100vw;
    outline: none;
    border: none;
    width: 100%;

    &::placeholder {
      font-size: 1.6rem;
    }

    @media only screen and (min-width: 992px) {
      width: 70%;
    }
  }

  button.button--get-started {
    padding: 1.6rem;
    width: 100%;

    @media only screen and (min-width: 992px) {
      width: 30%;
    }
  }
}
