/* Scrollbar */
body {
  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--primary-dark-blue-3);
    border-radius: 100vw;
    margin: 1.4em 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--white);
    border: 0.5em solid var(--white);
    border-radius: 100vw;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--white);
  }
}
