@import "../../styles//index.scss";

section.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  @include md {
    flex-direction: row;
  }

  .info-image {
    width: 40%;
    max-width: 60rem;
    min-width: 38rem;

    img {
      width: 100%;
    }
  }

  .info-content {
    width: 80%;
    text-align: left;

    @include md {
      width: 50%;
    }

    h3 {
      font-size: 3rem;
      font-weight: 500;
    }

    p {
      padding: 0;
      font-size: 1.5rem;
    }

    div {
      width: 100%;
      text-decoration: underline;
      display: flex;
      align-items: center;
      gap: 0.8rem;

      & > a {
        color: var(--accent-cyan);
        font-size: 1.8rem;

        &::before {
          display: none;
        }

        &:hover {
          color: darken(hsl(176, 68%, 64%), 20%);
        }
      }
    }
  }
}
