---
import PRODUCTS from "../../data/products.json";
import type { Product } from "../../types/index";
const products: Product[] = JSON.parse(JSON.stringify(PRODUCTS));
---

<div class="cards | my-24 px-12">
  {
    products.map((product: Product) => (
      <div class="text-start outline outline-offset-2 outline-1 outline-gray-300 rounded-3xl px-12 py-12 my-8">
        <h1 class="text-4xl font-bold">{product.title}</h1>
        <h2 class="text-cyan-moderate text-3xl mt-4 mb-6">
          Pledge ${product.price} or more
        </h2>
        <p class="text-2xl my-2 text-darkGray mx-auto leading-relaxed">
          {product.content}
        </p>
        <div class="my-4 flex items-baseline">
          <span class="text-6xl font-bold mr-6">{product.quantity}</span>
          <span class="text-3xl text-darkGray">left</span>
        </div>
        <button class="bg-cyan-moderate drop-shadow-md text-white text-2xl my-3 font-bold py-8 px-2 rounded-full w-full max-w-sm min-w-max hover:bg-cyan-dark hover:drop-shadow-xl hover:scale-105 active:bg-cyan-dark active:drop-shadow-none active:scale-100 duration-150 ease-linear">
          Select Reward
        </button>
      </div>
    ))
  }
</div>
