<main class="absolute inset-y-1/2 w-full">
  <section class="sec-1 px-16">
    <h1 class="text-5xl text-center font-bold">
      Mastercraft Bamboo Monitor Riser
    </h1>
  </section>
  <section></section>
  <section></section>
  <section></section>
</main>
