---
import logo from "/images/logo.svg";
import "./navbar.scss";
---

<nav>
  <div class="logo"><span><img src={logo} alt="" /></span></div>
  <ul>
    <li>Features</li>
    <li>Team</li>
    <li>Sign In</li>
  </ul>
</nav>
