nav {
  display: flex;
  align-items: center;
  color: var(--white);

  ul {
    display: flex;
    gap: 2rem;
    list-style: none;
  }

  li {
    font-size: 1.8rem;

    &:hover {
      cursor: pointer;
    }
  }

  a {
    text-decoration: none;
    color: var(--white);
  }
}
