@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 50%;

  /* Tablet Portrait (478px)*/
  @media (min-width: 480px) {
    font-size: 50%;
  }

  /* Tablet Landscape (768px)*/
  @media (min-width: 768px) {
    font-size: 56.25%;
  }

  /* Desktop (976px)*/
  @media (min-width: 976px) {
    font-size: 62.5%;
  }

  /* Big Desktop (1440px)*/
  @media (min-width: 1440px) {
    font-size: 75%;
  }
}

/* Style the scrollbar */
