---
import { HamburgerIcon } from "../../../public/index";
---

<nav class="flex items-baseline justify-between px-16 py-20">
  <div class="logo | text-6xl font-sans font-bold text-white">crowdfund</div>
  <button
    class="w-12 h-12 hover:scale-105 active:scale-100 duration-150 ease-linear sm:hidden"
  >
    <img src={HamburgerIcon} alt="menu" class="w-full" />
  </button>
  <ul class="hidden sm:flex items-center gap-8 text-white text-3xl">
    <li
      class="hover:cursor-pointer hover:text-darkGray hover:scale-105 active:scale-100 duration-100 ease-linear"
    >
      About
    </li>
    <li
      class="hover:cursor-pointer hover:text-darkGray hover:scale-105 active:scale-100 duration-100 ease-linear"
    >
      Discover
    </li>
    <li
      class="hover:cursor-pointer hover:text-darkGray hover:scale-105 active:scale-100 duration-100 ease-linear"
    >
      Get Started
    </li>
  </ul>
  <!-- <div
    class="nav-overlay | absolute top-0 left-0 w-full py-28 bg-[#333333] -z-10"
  > -->
</nav>
