@import "../../styles/index.scss";

header {
  position: relative;
}

div.intro-image {
  max-width: 60rem;

  img {
    width: 100%;
  }
}

div.bg-image {
  position: absolute;
  width: 100%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;

  img {
    width: 100%;
  }

  &::after {
    content: "";
    position: fixed;
    bottom: -155px;
    left: 0;
    width: 100%;
    background-color: var(--primary-dark-blue-2);
    height: 20rem;
    z-index: -1;

    @include md {
      bottom: -170px;
    }

    @include xl {
      bottom: -220px;
    }
  }
}

div.content {
  text-align: center;
  color: var(--white);

  & > h3 {
    font-size: 3.25rem;
    font-weight: bold;
  }

  & > p {
    font-size: 1.8rem;
    line-height: 1.5;
  }

  @include md {
    max-width: 40%;
  }
}

button {
  display: block;
  position: relative;
  border-radius: 100vw;
  width: 20rem;
  outline: none;
  border: none;
  background-color: var(--accent-blue);
  color: var(--white);
  font-weight: 400;
  font-size: 1.75rem;
  transition: all 0.2s ease;
  z-index: 2;

  &:hover {
    background-color: var(--white);
    color: var(--accent-blue);
    cursor: pointer;
    transform: scale(1.15);
  }

  &:active {
    cursor: pointer;
    transform: scale(1);
  }
}
