---
import iconAccessAnywhere from "/images/icon-access-anywhere.svg";
import iconSecurity from "/images/icon-security.svg";
import iconCollaboration from "/images/icon-collaboration.svg";
import iconAnyFile from "/images/icon-any-file.svg";
import "./features.scss";
---

<section class="features">
  <div>
    <span><img src={iconAccessAnywhere} alt="" /></span>
    <h2>Access your files anywhere</h2>
    <p>
      The ability to use a smartphone, tablet or computer to access your
      account, means your files follow you everywhere.
    </p>
  </div>
  <div>
    <span><img src={iconSecurity} alt="" /></span>
    <h2>Security you can trust</h2>
    <p>
      2-factor authentication and user controlled encryption are just a couple
      of the security features we allow to help secure your files.
    </p>
  </div>
  <div>
    <span><img src={iconCollaboration} alt="" /></span>
    <h2>Real-time collaboration</h2>
    <p>
      Securely share files and folders with friends, family and colleagues for
      live collaboration. No email attachments required.
    </p>
  </div>
  <div>
    <span><img src={iconAnyFile} alt="" /></span>
    <h2>Store any type of file</h2>
    <p>
      Whether you're sharing holiday photos or work documents, Fylo has you
      covered for allowing all the file types to be securely stored and shared.
    </p>
  </div>
</section>
